#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  background-color: #ebebeb;

}



.navBar {
  margin: 0;
  padding: 10px;
  background-color: #d8d8d8
}

.footer {
  width: 100%;
  background-color: #222222;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerEnd {
  background-color: black;
  width: 100%;
}
.itemDetail{
  width: 50vw;
    background-color: #ffffff;
}

.card{
  width: 100%;
  margin: 15px;
}

.card .cardDetail{
  width: 60%;
}

.stackCardDetail{
  width: 100%;
  height: 50%;
  align-items: center;

}

.cardImage {
  height: 40vh;
  width: 75vw;
}

.itemCountContador{
  color: black;
  font-size: 25px;
  background-color: #ffffff;
  margin: 10px 25px;
  
}

.buttonsContador{
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.fullwidth{
  height: auto;
}

.center{
  align-items: center;
  justify-content: center;
}

.cantidadCarrito{
  background-color: #cb300c;
   position: relative;
  margin-top: -5px;
  margin-right: -15px; 
  padding: 3px 7px ;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;

}

.iconCarrito{
  position: relative;
  width: 25px;
  height: 25px;

}



.horizontal{
  display: flex;
}

.buttonsCount{
  border-radius: 50px;
}

.fondoCart{
  border-radius: 60px;
  background-color: black;
}