#root {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  background-color: #ededed;

}


 .logo{
  width: 50%;
 }

.navBar {
  margin: 0;
  padding: 10px;
  background-color: #000000;
  height: 12vh;
}

.footer {
  width: 100%;
  background-color: #222222;
  padding: 0px 50px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer img{
  width: 250px;
  
}
.footerEnd {
  background-color: black;
  width: 100%;
}
.preFooter{
  margin-top: 50px;
  margin-bottom: 0px;
  height: 40vh;
  width: 100%;
  background-image: url('../src/assets/footer2.jpg');
  background-position: 90% 40%;
  background-size: cover;
}
.itemDetail{
  width: 50vw;
    background-color: #ffffff;
}

.card{
  width: 100%;
  margin: 15px;
}

.card .cardDetail{
  width: 60%;
}

.stackCardDetail{
  width: 100%;
  height: 50%;
  align-items: center;

}

.cardImage {
  height: 250px;
  width: 400px;
}

.itemCountContador{
  color: black;
  font-size: 25px;
  background-color: #ffffff;
  margin: 10px 25px;
  
}

.buttonsContador{
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.fullwidth{
  
  width: 100%;
}

.center{
  align-items: center;
  justify-content: center;
}

.cantidadCarrito{
  background-color: #cb300c;
   position: relative;
  margin-top: -5px;
  margin-right: -15px; 
  padding: 3px 7px ;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;

}

.iconCarrito{
  position: relative;
  width: 25px;
  height: 25px;

}



.horizontal{
  display: flex;
}

.buttonsCount{
  border-radius: 50px;
}

.fondoCart{
  border-radius: 60px;
  background-color: black;
}

.hero{
  background-image: url("../src/assets/herodef.png");
  height: 70vh;
  width: 100vw;
  background-size: 100% ;
  background-position: 25% 75%;
  
  
}

/* *** */

.loader {
  overflow: hidden;
  position: relative;
}

.wheel {
  fill: rgb(128, 128, 128);
  font-size: 100px;
  width: 100px;
  height: 100px;
  border-radius: 6em;
  text-align: center;
  animation: rolling 1s linear infinite;
}

#rim {
  fill: rgb(126, 126, 126);
}

#tire {
  fill: rgb(55, 55, 55);
}

.road {
  position: absolute;
  margin-top: -4px;
  width: 100%;
  height: 10px;
  border-radius: 5em;
  background-color: rgb(55, 55, 55);
  animation: road-move 2s linear infinite;
}

@keyframes rolling {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes road-move {
  from {
    transform: translateX(-140%);
  }

  to {
    transform: translateX(100%);
  }
}

/* FOOTER */

.footer{
  background-color: #202020;
}

.bannerPostHero{
  background-color: #202020;
  padding: 10px 0%;
  color: #ededed;
  text-align: center;
  justify-content: center;
}

.imgHomeMenu{
  filter: opacity(60%);
}

.imgHomeMenu:hover{
  filter: opacity(100%);
}

